<ion-header>
    <input [uploader]="uploaderImage" accept="image/*" id="imageFile" ng2FileSelect
           style="display: none;" type="file">
    <input [uploader]="uploaderPDF" accept=".pdf" id="PDFFile" ng2FileSelect
           style="display: none;" type="file">
    <ion-toolbar color="tertiary">
        <ion-title>{{task_info['params']['name']}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openPdf(1)">
                <ion-icon name="document"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="openPdf(task_info['infoFile'])">
                <ion-icon name="information-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="tabs" slot="start">
            <ion-segment-button [value]="parameters.tabs_value[0]">
                {{parameters.tabs_disp[0]}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let employee of employees" style="border-bottom-width: 1px">
            <ion-col size="1"></ion-col>
            <ion-col size="3">
                <ion-item lines="none">
                    <ion-avatar (click)="uploadImage(employee)" slot="start" tappable>
                        <img [src]="(employee['avatarId']!=null&&employee['avatarId']!=''&&employee['avatarId']!=undefined)?'http://0.0.0.0/api/files/download/'+employee['avatarId']:'assets/img/Businessman.png'">
                    </ion-avatar>
                    <ion-label>
                        <h2>{{employee.name}} </h2>
                        <h3>{{employee.title}} </h3>
                        <p>Minimum Salary :{{employee.minimumSalary}} </p>
                    </ion-label>
                    <ion-buttons>
                        <ion-button (click)="uploadPDF(employee)">
                            <ion-icon name="add"></ion-icon>
                        </ion-button>
                        <ion-button
                                (click)="openPdf(employee.resumeId)"
                                *ngIf="employee['resumeId']!=null&&employee['resumeId']!=''&&employee['resumeId']!=undefined">
                            <ion-icon name="paper"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-item>
            </ion-col>
            <ion-col align-self-center size="2" text-center>
                <ion-input [(ngModel)]="employee.salaryOffer_t" [placeholder]="employee.salaryOffer_t" disabled
                           type="text">
                </ion-input>
            </ion-col>
            <ion-col size="4">
                <ion-range (ionChange)="onChange(employee)" [(ngModel)]="employee.salaryOffer"
                           [max]="employee.minimumSalary*2" [min]="employee.minimumSalary"
                           pin="true" snaps="true" step="10000"
                           style="padding-top:20px">
                </ion-range>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="submit()" color="primary" fill="outline">Submit</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
