<ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button (click)="loadPage('home')" shape="round">
            <ion-icon name="ios-globe" slot='start'></ion-icon>
            Home
        </ion-button>
        <ion-button (click)="toggleMenu('action')" shape="round">
            <ion-icon name="ios-list" slot='start'></ion-icon>
            Action
        </ion-button>
        <ion-button (click)="loadPage('home')" shape="round">
            <ion-icon name="ios-stats" slot='start'></ion-icon>
            Stat
        </ion-button>
        <ion-button (click)="loadPage('home')" shape="round">
            <ion-icon name="ios-filing" slot='start'></ion-icon>
            Account
        </ion-button>
        <ion-button (click)="loadPage('home')" shape="round">
            <ion-icon name="ios-switch" slot='start'></ion-icon>
            Settings
        </ion-button>
        <ion-button (click)="toggleMenu('budget')" shape="round">
            <ion-icon name="ios-trending-up" slot='start'></ion-icon>
            Budget
        </ion-button>
        <ion-button (click)="toggleMenu('help')" shape="round">
            <ion-icon name="ios-school" slot='start'></ion-icon>
            Help
        </ion-button>
    </ion-buttons>

    <ion-title tappable="">
        Leading in a World Of Disruption
    </ion-title>

    <ion-buttons slot="end">
        <ion-button block clear>
            {{ shareService.current_user == null ? "Anonymous" : shareService.current_user['username'] }}
        </ion-button>
        <ion-button (click)="joinTeam()" *ngIf="viewCtl.showJoinTeam" shape="round">
            <ion-icon name="ios-contacts" slot='icon-only'></ion-icon>
        </ion-button>
        <ion-button (click)="signUp()" *ngIf="viewCtl.showSignup" shape="round">
            <ion-icon name="ios-add-circle-outline" slot='icon-only'></ion-icon>
        </ion-button>
        <ion-button (click)="logout()" *ngIf="viewCtl.showLogOut" shape="round">
            <ion-icon name="ios-log-out" slot='icon-only'></ion-icon>
        </ion-button>
    </ion-buttons>

</ion-toolbar>

