<ion-header id = 'header_line'>
  <edp-header></edp-header>
</ion-header>

<ion-menu type = "overlay" side="start" menuId="action">
  <edp-main-menu></edp-main-menu>
</ion-menu>


<ion-menu type="overlay" menuId="budget" side="end">
  <edp-budget-menu></edp-budget-menu>
</ion-menu>

<ion-menu type="overlay" menuId="help" side="end">
    <edp-budget-menu></edp-budget-menu>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>
<ion-content class="ion-content">

    <directive-content></directive-content>

</ion-content>
<ion-footer>

    <edp-footer></edp-footer>
</ion-footer>
